
/* Typography */
h1 {
  @apply font-sans not-italic text-4xl font-extrabold leading-relaxed tracking-normal ;
}

h2 {
  @apply font-sans not-italic text-3xl font-extrabold leading-relaxed tracking-normal ;
}

h3 {
  @apply font-sans not-italic font-normal text-3xl leading-relaxed ;
  letter-spacing: 1px;
}

h4 {
  @apply font-sans not-italic font-normal text-lg leading-relaxed ;
  letter-spacing: 0.4px;
}

h5 {
  @apply font-sans not-italic font-medium text-base leading-relaxed ;
  letter-spacing: 0.4px;
}

p {
  @apply font-sans text-base leading-relaxed tracking-normal ;
}

/* text-stroke */
.text-stroke {
  -webkit-text-stroke: 2px #f7f7f7;
  -webkit-text-fill-color: transparent;
}

.text-stroke-sm {
  -webkit-text-stroke: 1px #f7f7f7;
  -webkit-text-fill-color: transparent;
}

/* Anim Underline */
.fx-underline {
  position: relative;
}
.fx-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 97%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0%);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.fx-underline::before {
  transform-origin: 100% 0;
}
.fx-underline:hover::before,
.Active::before {
  transform: scaleX(100%);
  transform-origin: 0 0;
}

.link {
  @apply underline decoration-red-500 underline-offset-4 decoration-[0.1em] hover:text-red-600 transition-all;
}

.last-item {
  border-bottom: none !important; /* Adjust this line according to your current Alert component's border styling */
}